.comparison {
    padding: 0px 5px;
}

.comparison-container {
    background: white;
    border-radius: 4px;
    padding: 10px;
}

.comparison-table {
    width: 100%;
    border-collapse: collapse;
}

.comparison-table th,td {
    padding: 8px;
    border: 1px #ddd solid;
}

.product {
    text-align: center;
}

.product-name {
    margin-top: 10px;
    color: #007aff !important;
}

.product-cost {
    color: red;
    font-weight: 600;
    margin-bottom: 0px;
}