.filter {
    background: white;
    border-radius: 4px;
    padding: 10px;
    margin: 20px 5px 5px;
}

.filter-title {
    color: #007aff;
    font-weight: bold;
    line-height: 34px;
    margin: 0px;
}

.sub-filter-title {
    font-weight: 600;
    font-weight: 600px;
    margin: 10px 0px 5px;
}

.btn-info {
    display: block;
    float: right;
    background: #007aff;
}

label {
    display: block;
    font-weight: 100;
}

.none-filter-btn {
    display: block;
    float: right;
    color: white !important;
    background: #007aff;
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    text-decoration: none !important;
}

.none-filter-btn:hover {
	color: white !important;
	text-decoration: none !important;
}

.filter-btn {
    display: block;
    width: 100%;
    max-width: 300px;
    color: white;
    background: #007aff;
    border: none;
    border-radius: 17px;
    height: 34px;
    margin: 20px auto 10px;
}

.filter-container {
    height: 180px;
}

@media screen and (max-width: 768px) {
    .filter-container {
        height: auto;
    }
}