/* Container item */

.left-container {
    padding: 10px;
    float: left;
    width: 50%;
}

.right-container {
    float: right;
    width: 50%;
    padding: 10px 10px 10px 0px;
}

.section-item {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

hr {
    margin: 10px 0px;
}

@media screen and (max-width: 800px) {
    .container-item {
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
}

/* Order information */

.sub-title {
    margin-bottom: 5px;
}

.order-info {
    color: red;
}

.order input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px #c8c8c8 solid;
    border-radius: 4px;
    margin-bottom: 10px;
}

.order label {
    font-weight: normal;
    margin-right: 20px;
}

.del-btn,.save-btn {
    float: right;
    margin-left: 5px;
}

/* Product */

.img-container {
    float: left;
}

.product-name {
    color: #007aff;
}

.product-name:hover {
    color: #007aff;
}

.product-cost {
    color: red;
}

.product-option {
    overflow: auto;
}

.product-option select {
    width: 100px;
    height: 28px;
    border: 1px #c8c8c8 solid;
    border-radius: 4px;
    margin-bottom: 10px;
}

.dec {
    float: left;
    width: 28px;
    height: 28px;
    background: #007aff;
    color: white;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.inc {
    float: left;
    width: 28px;
    height: 28px;
    background: #007aff;
    color: white;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product-amount {
    float: left;
    width: 50px;
    height: 28px;
    border: none;
    border-top: 1px #c8c8c8 solid;
    border-bottom: 1px #c8c8c8 solid;
    text-align: center;
}

.amount-container {
    display: inline-block;
    vertical-align: middle;
}

.del-prod {
    float: right;
}